
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  height: 100%; 
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.whole-window {
 height: 100vh;
 display: flex;
 flex-direction: column;
 position: relative;
}


.header-container {
    flex: 1;
    width: 100%;
}


.routes-container{
    flex: 2; 
    padding: 10px;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right,  #e9d7f0 0%, #f9f4fb 40%, #f9f4fb 60%, #e9d7f0 100%);
}

button:hover {
    cursor: pointer;
}