
html, body {
  height: 100%; 
}

.whole-window {
 height: 100vh;
 display: flex;
 flex-direction: column;
 position: relative;
}


.header-container {
    flex: 1;
    width: 100%;
}


.routes-container{
    flex: 2; 
}