
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  height: 100%; 
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

h3{
    font-size: 1.5rem;
    color:#344e56;
    text-shadow: 1px 1px 2px #d6a8ec;

}

.whole-window {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}


.header-container {
    flex: 0 0 auto;
    width: 100%;
}


.routes-container{
    flex: 1; 
    padding: 10px;
    text-align: center;
    background: linear-gradient(to right,  #e9d7f0 0%, #f9f4fb 40%, #f9f4fb 60%, #e9d7f0 100%);
}

button:hover {
    cursor: pointer;
}