.header-component {
    background: linear-gradient(to right, #106a6d 0%, #59c8c8 50%, #1fbfba 100%);
    height: fit-content;
    width: 100%;
    padding: 10px;
    text-align: center;
}

h1{
    color: #d6a8ec;
    text-shadow: 2px 2px 4px black;
    font-size: 3rem;
}


