.home-page {
    justify-items: center;
}

.home-page li {
    align-content: center;
    list-style: none;
    background-color:#e0b6f3;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 2px black;
    padding: 5px;
    margin: 5px;
}