.home-page {
    justify-items: center;
}

 .home-page-task-container {
        width: 100%;
        justify-items: center;
}



@media(min-width: 850px) {
    .home-page-task-container {
        width: 50%;
}
}

