.nav-menu {
    height: 100%;
    width: 100%;
    margin: 5px;
    padding: 5px;
    justify-items: center;
  
}

.nav-menu li {
    list-style: none;
    background-color:#7b22a3;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    padding: 5px;
    margin: 4px;
}

.nav-menu a {
    text-decoration: none;
    color: #f7d7d7;
    text-shadow: 1px 1px 3px black;
    padding: 2px;
}

.nav-menu a.active {
    color: #f5763b;
    text-shadow: 2px 2px 4px black;    
}




