.todo-dashboard {
    justify-items: center;
}

 .todo-cards-container{
    justify-items: center;
    width: 100%
 }



@media (min-width: 1000px) {
    .todo-cards-container{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }
}