name: Test React Build in CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
      - run: npm ci
      - run: npm run build
        env:
          REACT_APP_API: https://todo-calendar-app-json-server.onrender.com/
      - run: ls -la build
